@use "/assets/varibales";

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include card-my;

    @media (min-width: 0) and (max-width: 320px) {
        width: $width-for-mobile;
        margin-left: 0;
        margin-right: 0;
    }
    @media (min-width: 321px) and (max-width: 480px) {
        width: $width-for-tablet;
        @include card-mx;
        
    }
    @media (min-width: 481px) {
        width: $width-for-desktop;
        @include card-mx;
    }

    &__content {
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__image {
        flex-grow: 0;
    }

    &__counter {
        margin-left: $margin-default;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
    }

    &__price {
        font-size: $font-size-medium;
        font-weight: $font-weight-large;
    }
}